* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: #000;
  color: #fff;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
